{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Réinitialisation du mot de passe
{% endblock %}

{% block body %}

	<section class="container mt-5 section-desktop"  style="margin-bottom: 35rem;">
		<div class="row text-center" style="max-width: 700px; margin: 0 auto;">
				<h1 class="mb-3">Mot de passe oublié ?</h1>
			<div class="col form-register p-3" style="border: solid 3px grey;">
                {{ form_start(requestPassForm) }}  {#} c'est le nom du formulaire se trouvant dans SecurityController #}
                {{ form_row(requestPassForm.username) }} {# on précise cette ligne pour que le bouton soit en-dessous du champ username #}
                    <button type="submit" class="btn btn-lg btn-primary mt-3">Envoyer</button>
                {{ form_end(requestPassForm) }}  {# on utilise form_start et form_end car bonnes pratiques de mettre le button dans template et pas dans form builder ResetPasswordRequestFormType#}
			</div>
		</div>
	</section>

{% endblock %}
