{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Réinitialisation du mot de passe
{% endblock %}

{% block body %}

	<section class="container my-3">
		<div class="row">
			<div class="col">
				<h1>Réinitialisation du mot de passe</h1>
                {{ form_start(passForm) }}  {#} c'est le nom du formulaire se trouvant dans SecurityController #}
                {{ form_row(passForm.password) }} {# on précise cette ligne pour que le bouton soit en-dessous du champ username #}
                    <button type="submit" class="btn btn-lg btn-primary mt-3">Envoyer</button>
                {{ form_end(passForm) }}  {# on utilise form_start et form_end car bonnes pratiques de mettre le button dans template et pas dans form builder ResetPasswordRequestFormType#}
			</div>
		</div>
	</section>

{% endblock %}
