<form method="post" action="{{ path('trick_delete', {'id': trick.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette figure?');" style="display: inline-block;">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
	<button type="submit" style="border-style:none; background: none;">
		<i class="fa-solid fa-trash-can"></i>
	</button>
</form>