{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Page d'Accueil
{% endblock %}

{% block header %}
	<!-- Page Header-->
	<header class="masthead" style="background-image: url('assets/uploads/home-bg.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="site-heading">
						<h1>SnowTricks</h1>
						<span class="subheading">Site pour passionnés de Snow !</span>
					</div>
				</div>
				<a href="#parent-container" class="btn-arrow-down">
					<i class="fas fa-arrow-down"></i>
				</a>
			</div>
		</div>
	</header>
{% endblock %}

{% block body %}
	{# <h1>Page d'accueil</h1> #}
<section class="d-flex flex-column m-4">
<div id="parent-container">
<div class="d-flex flex-wrap justify-content-center">
	{% for trick in tricks %}
		<div class="trick-container m-3">
			<div class="card" style="width: 18rem;">
				<a href="{{path('trick_show', {slug:trick.slug})}}">
					{% for illustration in trick.illustrations %}
						<img src="{{asset('assets/uploads/images/' ~ illustration.file)}}" class="card-img-top border" style="height: 190px; object-fit: cover;"></img>
					{% endfor %}
						<div class="card-body">
							<h2 class="post-title">{{trick.name}}</h2>
						</div>
				</a>
			</div>
		</div>
	{% endfor %}
</div>
</div>
		<!-- Trick preview-->
	<div class="d-flex justify-content-center mb-4 p-5">
		<button class="load-more btn btn-primary justify-content-center d-flex">Load more
		<span class="loading hide-loader"><span></span></span>
		</button>
	</div>
	{# <a class="load-more btn btn-primary justify-content-center d-flex">Load more
	</a> #}
	<div class="btn-arrow">
		<i class="fas fa-arrow-up"></i>
	</div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ asset('assets/js/load-more-trick.js') }}"></script>
{% endblock %}

