{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Page d'Accueil
{% endblock %}

{% block header %}
	<!-- Page Header-->
	<header class="masthead" style="background-image: url('assets/uploads/snowboard-snowtricks-bg.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="site-heading">
						<h1>SnowTricks</h1>
						<span class="subheading">Site pour passionnés de Snow !</span>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}

{% block body %}
	{# {% if app.user and app.user.isVerified == false %}
						<div class="alert alert-warning alert dismissible" role="alert">
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
								<div class="alert-message">
									<strong>Votre compte n'est pas activé</strong>, renvoyer le lien d'activation
								</div>
							</button>
						</div>
						{% endif %} #}
	<main class="container">
		<section class="row">

        {% for trick in tricks %}
			<article
				class="col-md-10 col-lg-8 col-xl-7">
				<div class="card" style="width: 18rem;">
                    <img src="{{ asset('assets/uploads/'~ trick.illustration) }}" class="card-img-top" alt="">
                    <div class="card-body">
                        <a href="#">{{ trick.name }}</a>
                    </div>
                    </div>
			</article>
            {% endfor %}
			<hr
			class="my-4"/>

			<!-- Pager-->
			<div class="d-flex justify-content-end mb-4">
				<a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a>
			</div>
		</section>
	</main>
{% endblock %}
