{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Votre Profil{% endblock %}

{% block body %}
<section class="container my-3 section-desktop">
    <h1>Bonjour {{app.user.username }}!</h1>
    <p>Votre email : <strong>{{ app.user.email }}</strong></p>
    <p>Vos Tricks :</p>
    <p>Vos Commentaires :</p>
    <button class="btn btn-primary">
		<a href="{{ path('trick_new') }}" class="text-white">Créer un Trick</a>
	</button>
</section>
{% endblock %}
