
/* Barre de navigation  */
#mainNav {
  background-color: #464d53;
  /* margin-bottom: 2rem; */
}
 /* section{
  margin-top: 8rem;
 } */

 body{
  position: relative;
  min-height: 100vh;
 }

 .masthead{
  min-height: 70vh;
 }
 .footer-custom{
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 25px;
  margin-bottom: -11rem;
 }

.form-register ul {
    padding: 0;
   
}
.form-register ul li {
    list-style-type: none;
    background-color: red;
    color: white;
    width: 100%;
    text-align: center;
}



/* trick page  */

#header-image {
  height: 70vh;
  margin-top: 3rem;
}




/* MEDIA QUERRIES  */

@media screen and (max-width: 991px){
  
  /* #header-image {
    height: 70vh;
    margin-top: 7rem;
  } */

 
}

@media screen and (min-width: 991px){
  .fixed-bottom {
    top: 0;
    bottom: auto;
}

header.masthead{
  min-height: 85vh;
  margin-top: 5rem;
  padding-top: 21rem;
}

#header-image{
  margin-top: 9rem;
}

footer{
  padding-bottom: 0;
}
}