<form method="post" action="{{ path('illustration_delete', {'id': illustration.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette illustration ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ illustration.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
