<form method="post" action="{{ path('app_admin_trick_delete', {'id': trick.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette figure?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
