{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Nouvelle Figure
{% endblock %}

{% block body %}
	<section class="container section-dashboard">
		<h1>Créer une Figure</h1>

		{{ include('admin/trick/_form.html.twig') }}
		<a href="{{ path('app_admin_trick_index') }}">Retour à la liste</a>

	</section>
{% endblock %}
