{% extends 'base.html.twig' %}

{% block title %}Modifier Illustration{% endblock %}

{% block body %}
<section class="container section-desktop mt-5">
    <h1>Modifier Illustration</h1>

    {{ include('admin/illustration/_form.html.twig', {'button_label': 'Modifier'}) }}
    {{ include('admin/illustration/_delete_form.html.twig') }}

    <a href="{{ path('app_admin_illustration_index') }}">Retour</a>

    </section>
{% endblock %}
