{% extends 'base.html.twig' %}

{% block title %}New Illustration{% endblock %}

{% block body %}
    <h1>Create new Illustration</h1>

    {{ include('admin/illustration/_form.html.twig') }}

    <a href="{{ path('app_admin_illustration_index') }}">back to list</a>
{% endblock %}
