{% extends 'base.html.twig' %}

{% block title %}Erreur 500 - SnowTricks{% endblock %}

{% block body %}
<section class="container section-dashboard text-center">
    <h3>Erreur-500</h3>
    <p>La requête n'a pu aboutir !</p>
    <a class='text-primary' href="{{ path('app_home') }}">Revenir au site SnowTricks</a>

</section>

{% endblock %}