{% extends 'base.html.twig' %}

{% block title %}Erreur 404 - SnowTricks{% endblock %}

{% block body %}
<section class="container section-dashboard text-center">
    <h3>Erreur-404</h3>
    <p>Page non trouvée</p>
    <a class='text-primary' href="{{ path('app_home') }}">Revenir au site SnowTricks</a>

</section>

{% endblock %}