{% extends 'base.html.twig' %}

{% block title %}Erreur 403 - SnowTricks{% endblock %}

{% block body %}
<section class="container my-3 text-center">
    <h3>Erreur-403</h3>
    <p>Vous n'avez pas accès à cette page !</p>
    <a class='text-primary' href="{{ path('app_home') }}">Revenir au site SnowTricks</a>

</section>

{% endblock %}