{% for commentTrick in commentTricks.data %}

    <li class="list-group-item"><small><img class=""
                                            style="height: 50px; width: 50px; border-radius: 100%; text-align: center; object-fit: cover;"
                                            src="{{ asset('uploads/profiles/'~commentTrick.connectedUser.avatar) }}"
                                            alt="..."/></small>
        <p style="display: inline-block">{{ commentTrick.connectedUser }} - {{ commentTrick.createdAt|date("d/m/Y") }}</p>
        <br>{{ commentTrick.comment }}</li>

{% endfor %}