<form method="post" action="{{ path('trick_delete', {'id': trick.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette figure?');" style="display: inline-block;">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
	<button type="submit" class="btn btn-danger text-white m-1" style="padding:10px 16px;">
		Supprimer
	</button>
</form>