{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Modifier une Figure{% endblock %}

{% block body %}
<section class="container section-desktop mt-5">
    <h1 class="mb-3">Modifier "{{ trick.name }}"</h1>

    {{ include('trick/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('trick_show', {'slug': trick.slug}) }}">Retour à la Figure</a>

    </section>
{% endblock %}