{% extends 'base.html.twig' %}

{% block title %}
	{{trick.name}}
	- SnowTricks
{% endblock %}

{% block body %}

	<div class="row gx-4 gx-lg-5 justify-content-center">
		<div class="p-5">
			<a href="post.html">
				<h2 class="post-title">{{trick.name}}</h2>
			</a>
			<p class="post-meta">
				Posted by
				<a href="#!">Start Bootstrap</a>
				on September 24, 2022
			</p>
			<div class="fs-5 col-md-8">
				{{trick.description}}
			</div>

			<h3 class="post-images">Illustrations</h3>
			<div class="row">
				{% for illustration in trick.illustrations %}
					<div class="col-4">
						<img src="{{asset('assets/uploads/images/' ~ illustration.file)}}">
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
