<h1>Activez votre compte</h1>
<p>Bonjour {{ user.username }},</p>
<p>Votre inscription sur le site <strong>SnowTricks</strong> est à valider en cliquant sur le lien ci-dessous :</p>
<p><a href="{{ absolute_url(path('verify_user', {token:token})) }}">{{ absolute_url(path('verify_user', {token:token})) }}</a></p>    {#  absolute_url est une fonction qui encapsule le path, pour créer une url absolue par rapport au site #}
<p>Ce lien expirera dans 3 heures</p>